.btn-appointment {
    padding: 10px 5px;
    background-color: blueviolet;
    border-radius: 5px;
    text-align: center;
   
}
.btn-appointment:hover{
    background-color: rgb(165, 42, 42);
}
.btn-appointment a {
    color: white;
    letter-spacing: .025em;
    text-decoration: none;
}